<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body class="hold-transition sidebar-mini layout-fixed">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="in_container"> 
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
    		<ul class="navbar-nav mr-auto">
      			<li class="nav-item active">
        			<a class="nav-link" href="<%=request.getContextPath() %>/index.jsp">SLOU BED<span class="sr-only">(current)</span></a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="#">Brand Story</a>
      			</li>
     			<li class="nav-item dropdown">
      				<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">Product</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="<%=request.getContextPath() %>/GetProductItemListCtrl?cateNo=1">매트리스 & 토퍼</a>
						<a class="dropdown-item" href="<%=request.getContextPath() %>/GetProductItemListCtrl?cateNo=2">모션 매트리스</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="<%=request.getContextPath() %>/GetProductItemListCtrl?cateNo=3">프레임</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="<%=request.getContextPath() %>/GetProductItemListCtrl?cateNo=4">베개</a>
						<a class="dropdown-item" href="<%=request.getContextPath() %>/GetProductItemListCtrl?cateNo=5">이불</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Review</a>
				</li>
				<li class="nav-item dropdown">
  					<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="true">Support</a>
  					<div class="dropdown-menu">
  						<a class="dropdown-item" href="#">Q&A</a>
    					<a class="dropdown-item" href="GetNotiListCtrl">공지사항</a>
  						<a class="dropdown-item" href="#">AS</a>
  					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Store</a>
				</li>
			</ul>
			<ul class="nav justify-content-end">

				<li class="nav-item">
 					<a class="nav-link active" href="<%=request.getContextPath() %>/customer/login.jsp">로그인</a>
				</li>
				<li class="nav-item">
  					<a class="nav-link" href="<%=request.getContextPath() %>/customer/membership.jsp">회원가입</a>
				</li>
			  	<li class="nav-item">
			   		<a class="nav-link" href="<%=request.getContextPath() %>/GetMemberCartListCtrl"><img src="./img/icon/cart.png" alt="장바구니"></a>
				</li>
			</ul>	    
		</div>
	</div>
</nav>
</body>
</html>