<c:set var="path1" value="${pageContext.request.contextPath }" />
<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 화면</title>
</head>
<body>
  <div class="wrapper">
    <h1>샘플</h1>
    <table>
    	<c:forEach items="${getSample }" var="sa">
    	<td>${sa.id }</td>
    	<td>${sa.pw }</td>
    	</c:forEach>
    </table>
  </div>
</body>
</html>