<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset = "UTF-8">
  <title>메인 데이터</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
	<h1>타임리프 테스트 4</h1>
	<table>
		<thead>
			<th>번호</th>
			<th>아이디</th>
			<th>비밀번호</th>
			<th>구분</th>
			<th>총 건수</th>
		</thead>
		<tbody>
			<tr th:each="sample, status : ${sampleList}">
				<td th:text="${status.count}"></td>
				<td><a th:href="@{/test9(id=${sample.id})}" th:text="${sample.id}"></a></td>
				<td th:text="${sample.pw}"></td>
				<th:block th:if="${sample.id} == 'admin'">
				<td>관리자</td>
				</th:block>
				<th:block th:unless="${sample.id} == 'admin'">
				<td>일반회원</td>
				</th:block>
				<td th:text="${status.size}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>