<c:set var="path1" value="${pageContext.request.contextPath }" />
<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>게시판 목록</title>
</head>
<body>
<header id="header">

</header>
<div class="content" id="content">
<!-- navbar -->
	<th:block th:include="fragments/common/navbar"></th:block>
	<div class="row column text-center">
      <h2>공지사항 상세보기</h2>
      <hr>
      <div class="container">
		     <table>
			  <tbody>
			    <tr th:object="${dto}">
	      			<th>번호</th>
	      			<td th:text="*{no}"></td>
	      		</tr>	
	      		<tr>
	      			<th>제목</th>
	      			<td th:text="*{title}"></td>
	      		</tr>
	      		<tr>
	      			<th>내용</th>
	      			<td><p th:text="*{content}"></p></td>
	      		</tr>
	      		<tr>
	      			<th>작성일시</th>
	      			<td th:text="*{resdate}"></td>
	      		</tr>
			  </tbody>
			</table>
			<div class="button-group">
				  <a class="button" th:href="@{/board/list.do }">목록으로</a>
				  <a class="button" th:href="@{/board/delete.do(no=${dto.no })}">삭제</a>
				  <a class="button" th:href="@{/board/edit.do(no=${dto.no})}">수정</a>
				</div>
		</div>
    </div>
</div>
<footer id="footer" class="footer-nav row expanded collapse">
</footer>
</body>
</html>