<c:set var="path1" value="${pageContext.request.contextPath }" />
<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>게시판 목록</title>
</head>
<body>
<header id="header">

</header>
<div class="content" id="content">
<!-- navbar -->
	<th:block th:include="fragments/common/navbar"></th:block>
	<div class="row column text-center">
      <h2>공지사항 목록</h2>
      <hr>
      <div class="container">
		     <table>
			  <thead>
			    <tr>
			      <th width="100">NO</th>
			      <th>TITLE</th>
			      <th width="150">REGDATE</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="bo : ${boardList}">
			      <td th:text="${bo.no }"></td>
			      <td><a href="/board/detail.do?no=@{bo.no }"><span th:text="${bo.title}"></span></a></td>
			      <td th:text="${bo.resdate}"></td>
			    </tr>
			  </tbody>
			</table>
			<div class="button-group">
				  <a class="button" href="${path1 }/board/insert.do">글쓰기</a>
			</div>
		</div>
    </div>
</div>
<footer id="footer" class="footer-nav row expanded collapse">
</footer>
</body>
</html>